/*.loginBack{
	width: 1440px;
	height: 800px;
}*/
body{
	background:url(IMG/loginBack.jpg) top center no-repeat;
	ackground-size:cover;
}
.login-title{
	color: white;
	font-family: 'Gidugu', sans-serif;
	font-weight: 400;
	display: inline-block;
	margin-right: 50px;
}
#loginContainer{
	position: absolute;
	top: 136px;
	height: 420px;
	width: 100%;
	text-align: center;
}
#user{
	display: inline-block;
	width: 200px;
}
#key{
	display: inline-block;
	width: 200px;
}
.inputContainer{
	margin: 10px 0px;
}
#box{
	vertical-align: top;
}
.login-btn{
	width: 110px;
}
#register{
	margin-left: 27px;
}
.lo{
	font-family: 'Gidugu', sans-serif;
	color: #313234;
	font-weight: 300px;
	font-size: 17px;
}
.inputCheckbox{
	display: inline-block;
	margin-right: 177px;
}
#loginBottom{
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 50px;
	text-align: center;
}
.bottomTitle{
	font-family: 'Gidugu', sans-serif;
	color: #02A3FA;
	font-weight: 400;
	font-size: 16px;
}
#homePage{
	width: 100%;
	height: 770px;
	position: relative;
}
