.ztree *{
	/*font-family:Microsoft Yahei;*/
}
.ztree li a{
	color:#666;
}
.ztree li{
	line-height:25px;
}
.ztree li span.button{
	margin-top:5px;
}
.ztree li a.curSelectedNode{
	background-color: #fff;
	border:solid 1px #fff;
	opacity:0.8;
	color:#0077ea;
}
.ztree li span.button.center_open{
	background-position: -92px -20px;
}
.ztree li span.button.bottom_close {
    background-position: -74px -39px;
}
.ztree li span.button.bottom_open {
    background-position: -92px -39px;
}
.ztree li span.button.center_close {
    background-position: -74px -20px;
}

.ztree-camera li span.button.ico_close {
	margin-right: 2px;
	background: url(../images/node_cameras.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-camera li span.button.ico_open {
	margin-right: 2px;
	background: url(../images/node_cameras.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-camera li span.button.ico_docu {
	margin-right: 2px;
	background: url(../images/node_camera.png) no-repeat scroll ;
	vertical-align:top; 
	
}

/*.ztree-camera li span.button.disabled_ico_docu{
	margin-right:2px; 
	background: url(../../images/dis_node_camera.png) no-repeat scroll; 
	vertical-align:top;
}*/

.ztree-police li span.button.ico_close {
	margin-right: 2px;
	background: url(../images/node_polices.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-police li span.button.ico_open {
	margin-right: 2px;
	background: url(../images/node_polices.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-police li span.button.ico_docu {
	margin-right: 2px;
	background: url(../images/node_police.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-tingzi li span.button.ico_close {
	margin-right: 2px;
	background: url(../images/node_tingzis.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-tingzi li span.button.ico_open {
	margin-right: 2px;
	background: url(../images/node_tingzis.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-tingzi li span.button.ico_docu {
	margin-right: 2px;
	background: url(../images/node_tingzi.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-scar li span.button.ico_close {
	margin-right: 2px;
	background: url(../images/node_scars.png) no-repeat scroll;
	vertical-align:top; 
	
}

.ztree-scar li span.button.ico_open {
	margin-right: 2px;
	background: url(../images/node_scars.png) no-repeat scroll;
	vertical-align:top; 
	
}

.ztree-scar li span.button.ico_docu {
	margin-right: 2px;
	background: url(../images/node_scar.png) no-repeat scroll;
	vertical-align:top; 
	
}

.ztree-g4g li span.button.ico_close {
	margin-right: 2px;
	background: url(../images/node_g4gs.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-g4g li span.button.ico_open {
	margin-right: 2px;
	background: url(../images/node_g4gs.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-g4g li span.button.ico_docu {
	margin-right: 2px;
	background: url(../images/node_g4g.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-bcar li span.button.ico_close {
	margin-right: 2px;
	background: url(../images/node_bcars.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-bcar li span.button.ico_open {
	margin-right: 2px;
	background: url(../images/node_bcars.png) no-repeat scroll ;
	vertical-align:top; 
	
}

.ztree-bcar li span.button.ico_docu {
	margin-right: 2px;
	background: url(../images/node_bcar.png) no-repeat scroll ;
	vertical-align:top; 
	
}
